# URL Web App GAS (deployment /exec) — salin ke .env untuk pengembangan lokal
VITE_GAS_URL=https://script.google.com/macros/s/AKfycbwzex-jftGVjlwytSTriO8YP59bXhzfw7XvpJWvECNEnjdxHa65AUrX6KT4o3gmD0eQqA/exec

# retry deploy

# redeploy setelah Pages Source diperbaiki ke GitHub Actions
